Werkzeug==0.9.4
argparse==1.2.1
-e git+https://github.com/mahmoud/clastic.git#egg=clastic
docopt==0.4.0
mailchimp==2.0.7
requests==2.2.1
-e git+https://github.com/slaporte/wapiti.git#egg=wapiti
wsgiref==0.1.2
