ashes==0.7.6
Babel==1.3
certifi==2020.6.20
chardet==3.0.4
clastic
docopt==0.4.0
idna==2.10
mailchimp==2.0.7
python-dateutil==2.4.2
pytz==2014.7
PyYAML==3.11
readline==6.2.4.1
requests==2.24.0
sendypy==4.0.9
six==1.9.0
twitter==1.14.3
urllib3==1.26.5
Werkzeug==0.9.4
