body {
  margin: 5em 0;
  background-color: rgb(237, 224, 206);
  -webkit-font-smoothing: antialiased;
}
#intro {
    white-space: pre-wrap;
}
article, header {
  background-color: #fff;
  color: #222222;
  margin: auto;
  padding: 1.5em;
  width: 600px;
}
header {
  background-color: #fff;
  text-align: center;
  padding-bottom: 0;
}
header.main {
  padding: 1.5em;
}
header h1 {
  border-top: 1px solid #222222;
  color: #222;
  margin: 1em 0 0 0;
}
header h1 span {
  background: #fff;
  padding: 0 20px;
  position: relative;
  top: -20px;
  font-weight: 200;
}
header p {
  font-style: italic;
  margin-top: -10px;
}
section.announce {
  width: 600px;
  padding: 0.1em 1.5em;
  margin: 0 auto;
  background: rgb(245, 245, 245);
}
section.announce p {
  text-align: center;
  padding: 0.5em;
  font: 800 12pt serif;
}
section.announce .date {
  font: 300 12pt serif;
}
section.announce .more {
  font: 400 12pt serif;
  margin-top: -1.5em;
}
label {
  vertical-align: top;
}
p {
  color: #383838;
  line-height: 1.5em;
  font: 400 12pt serif;
}
h2 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 200;
  line-height: 1.2;
  font-size: 28px;
}
a {
  color: #348eda;
}
a:hover {
  color: red;
}
.buttons li {
  font: 400 12pt serif;
  line-height: 1.5em;
}
.button {
  width: 20em;
}
