body {
  margin: 5em 0;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAALElEQVQIW2NkwAKUlJT+M6KLgwTv3bvHiCIBEwQphksgC8Il0AXBEtgEQRIAiVQVbL6uiJkAAAAASUVORK5CYII=) repeat;
  -webkit-font-smoothing: antialiased;
  font-family: 'PT Sans', sans-serif;
}
#intro {
    white-space: pre-wrap;
}
.main, .header {
  background-color: #fff;
  color: #222222;
  margin: auto;
  padding: 1.5em;
  width: 600px;
}
.content {
  padding-bottom: 1em;
}
.header {
  background-color: #fff;
  text-align: center;
  padding-bottom: 0;
  padding: 1.5em;
}
.header h1 {
  border-top: 1px solid #222222;
  color: #222;
  margin: 1em 0 0 0;
}
.header em {
  font-weight: 400;
}
.header h1 span {
  background: #fff;
  padding: 0 20px;
  position: relative;
  top: -20px;
  font-weight: 700;
}
.header p {
  font-style: italic;
  margin-top: -10px;
}
.announce {
  width: 600px;
  padding: 0.1em 1.5em;
  margin: 0 auto;
  background: rgb(245, 245, 245);
}
.announce p {
  text-align: center;
  padding: 0.5em;
  font: 700 12pt;
}
.announce .date {
  font: 300 12pt;
}
.announce .more {
  font: 400 12pt;
}
.preview-area {
  border: 2px solid #6C6C6C;
  padding: 1em;
}
.preview-area p {
  text-align: left;
}
.read-full {
  display: block;
  text-align: center;
  margin: 0;
  background-color: #F5F5F5;
  padding: 0.5em;
  text-decoration: none;
}
.read-full:hover {
  color: #e85657;
  background-color: #fff;
}
label {
  vertical-align: top;
}
p {
  color: #383838;
  line-height: 1.5em;
  font: 400 12pt;
}
h2 {
  margin: 0.5em 0 0 0 ;
  text-transform: uppercase;
  font-weight: 200;
  line-height: 1.2;
  font-size: 28px;
}
ol {
  line-height: 1.5em;
}
a {
  color: #348eda;
}
a:hover {
  color: red;
}
.lang-links h2 {
  text-align: center;
  
  margin-top: 0.3em;
  padding: 0.5em;
}
.buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}
.buttons li {
  line-height: 1.5em;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  
  
  margin: 0.5em 0;
  overflow: hidden;
  text-align: center;
}
.buttons li a {
  text-decoration: none;
  color: #000;
  display: block;
  border: 2px solid #6C6C6C;
  background: none;
  padding: 0.5em 0px;
}
ul.archive-list {
  margin-bottom: 1em;
}
.archive-list li {
  width: 49%;
  display: inline-block;
  margin: 0;
}
.buttons li a:hover {
  background-color: #6C6C6C;
  color: #fff;
}
.button {
  width: 20em;
}

#archive {
  background-color: #6C6C6C;
  margin-top: 0.5em;
}
.breadcrumb {
  margin: 0;
  padding: 1em 0;
}
.breadcrumb a {
  text-decoration: none;
}
.breadcrumb li {
    display: inline;
}
.breadcrumb li + li:before {
    content:"» ";
}
button {
  position: relative;
  padding: 1em;
  border: none;
  background-color: #e85657;
  color: #f9f6e5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  
  overflow: hidden;
  width: 100%;
  
  text-decoration: none;
  outline: none;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  -webkit-appearance: button;
  cursor: pointer;
}

a.signup {
  background-color: #e85657;
  color: #f9f6e5;
  text-align: center;
  display: block;
  padding: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  text-decoration: none;
}
a.signup:hover {
  background-color: #F5F5F5;
  color: #e85657;
}
